* {
  margin: 0;
  padding: 0;
}

#name {
  color: #200772;
  text-shadow: 3px 2px 3px blue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Pattaya", sans-serif;
}

.style {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  color: #2c4378;
  padding-top: 20px;
  font-family: "Pattaya", sans-serif;
}

.example {
  font-size: 1.1em;
  text-align: center;
  text-indent: 1.5em;
  line-height: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

ol {
  font-size: 1.1em;
  font-weight: normal;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

ul {
  width: 150px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
}

.photo {
  width: 250px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.href {
  margin-left: 200px;
  margin-right: 100px;
  font-weight: bold;
  color: grey;
}

.href:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/** My changes **/

.flex-container {
  display: flex;
  flex-direction: row;
}

main {
  padding: 20px;
}

.href-flex-item {
  display: block;
  width: 33%;
  text-align: center;
  font-weight: bold;
  color: grey;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-bottom: 20px;
}
